.social{
    width: 50px;
    height: 50px;
   /* background-color: #E74646; 
    background-image: linear-gradient(to right,#E74646 , #FFABAB);
    */
    /*border-radius: 30px;*/
}
/*
a .social{
    background-color: #E74646; 
    background-image: linear-gradient(to right,#E74646 , #FFABAB);
}*/